//MIXINS
@mixin base-font-edit{
  font-family: 'Work Sans', sans-serif;
  color: rgb(78, 116, 149);
  text-align: center;

}

@mixin font-related-label {
  font-family: 'Work Sans', sans-serif;
  font-size: 20px;
  color: rgb(241, 243, 245);
  text-align: center;
}

@mixin font-related-option{
  font-family: 'Work Sans', sans-serif;
  color: rgb(78, 116, 149);
  text-align: center;
  font-size: 12px;
}

@mixin btn-base-color {
  background: rgb(245, 165, 28);
  border: rgb(241, 243, 245);
}


//BODY

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: rgba(193, 246, 242, 0.7);
  text-align: center;
}

.body-wrap{
  margin: 0 auto;
  width: 80%;
  text-align: center;
}
//FORM
.form-container {
  border: 4px solid rgb(245, 165, 28);
  margin: auto;
  margin-top: 5%;
  height: 300px;
  width: 500px;
  background: rgb(78, 116, 149);
  border-radius: 25%;
}

.form-card-wrap {
display: inline-block;
}

label {
  @include font-related-label;
  display: block;
  margin-top: 5%;
  margin-bottom: 5%;
}



// DROPDOWN BOXES
.option-box {
  margin-top: 3%;
  margin-bottom: 3%;

}

select {
  @include font-related-option;
  margin: 0 auto;
  text-transform: uppercase;
  width: 165px;
  height: 45px;

}

//CARDS


.card {
  width: 250px;
  margin-left: 60px;
  margin-bottom: 25px;
  border: 2px solid rgb(245, 165, 28);
}

.card-title {
  @include base-font-edit;
  text-transform: capitalize;
  font-weight: 900;
  margin-top: 10px;
  font-size: larger;
}

.card-subtitle{
  @include base-font-edit;

}

// BUTTONS

.btn {
  @include btn-base-color;
  @include font-related-option;
  text-transform: capitalize;
  color: rgb(241, 243, 245);
  width: 180px;
  margin: 10px auto;
  display: block;
  background: linear-gradient(to right, rgb(245, 165, 28) 50%, rgb(238, 180, 82) 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all .5s ease-out;
}

.btn:hover {
  /* background: rgba(245, 165, 28, 0.8);
   box-shadow: 1px 1px 1px 1px rgb(241, 243, 245);
  */
  color: rgb(241, 243, 245);
  background-position: left bottom;
}

.btn:active {
  @include btn-base-color;
}

//ID's

#result, #echo-success {
@include base-font-edit;
}

#catButton{
  width: 100px;
}

#buyButton {
  font-size: 18px;
  font-weight: 900;
}

#quantity {
  height: 20px;
}

