//MIXINS
@mixin font-related-label {
  font-family: 'Work Sans', sans-serif;
  font-size: 20px;
  text-align: center;
  color: rgb(78, 116, 149);
}

@mixin font-related-option{
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  color: rgb(78, 116, 149);
  text-align: center;
  width: 150px;
}

@mixin btn-base-color {
  background: rgb(245, 165, 28);
  border: rgb(241, 243, 245);
}

@mixin base-font-edit{
  color: rgb(78, 116, 149);
  text-align: center;

}
//BODY

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: rgba(193, 246, 242, 0.7);
  text-align: center;

}
//FORM
.form-container {
  border: 4px solid rgb(245, 165, 28);
  margin: auto;
  margin-top: 5%;
  height: 300px;
  width: 500px;
  background: rgb(78, 116, 149);
  border-radius: 25%;
}



label {
  @include font-related-label;
  display: block;
  margin-top: 5%;
  margin-bottom: 5%;
}



// DROPDOWN BOXES
.option-box {
  @include font-related-option;


}

select {
  display: block;
  text-align: center;
  margin: 0 auto;
  text-transform: uppercase;
  font-size: 16px;



}

#echo-success {
@include base-font-edit;

}
//PRODUCTS

h4, h5{
  text-transform: capitalize;
}

.card {
  display: inline-block;
  width: 200px;
  margin-left: 10px;
  margin-bottom: 10px;
  border: 2px solid rgb(245, 165, 28);
}

.card-title, .card-subtitle {
  font-weight: 700;
  color: rgb(78, 116, 149);
  font-family: 'Work Sans', sans-serif;
}
.btn {
  @include btn-base-color;
  @include font-related-option;
  text-transform: capitalize;
  color: rgb(241, 243, 245);
  margin-bottom: 3%;
  width: 180px;
}

.btn:hover {
  background: rgba(245, 165, 28, 0.8);
  box-shadow: 1px 1px 1px 1px rgb(241, 243, 245);
}

.btn:active {
  @include btn-base-color;
}

//ID's

#result {
@include base-font-edit;
}




